<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>849659219899-c32kp013kjb0hfbd073b1nsjbuu0k8v4.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.849659219899-c32kp013kjb0hfbd073b1nsjbuu0k8v4</string>
	<key>API_KEY</key>
	<string>AIzaSyCzVVI4CXZ4_Ea8_qSFxhCOzZ_u0q0VE8k</string>
	<key>GCM_SENDER_ID</key>
	<string>849659219899</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>hyeon.-2-Notice</string>
	<key>PROJECT_ID</key>
	<string>notice-ecee4</string>
	<key>STORAGE_BUCKET</key>
	<string>notice-ecee4.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:849659219899:ios:f580e86902dd7cb6063e9e</string>
</dict>
</plist>